.logo {
  width: 50px;
}

.tiny-student {
  position: absolute;
  left: 0;
  bottom: 30px;
  margin-left: -50px;
  max-width: 25px;
}

.tiny-os {
  margin-left: -15px;
  width: 20px;
  position: absolute;
  left: 0;
  bottom: 30px;
}

.tiny-name {
  margin-left: -50px;
  width: 20px;
  position: absolute;
  left: 0;
  bottom: 75px;
}
