<h1>Create a new batch</h1>

<%= simple_form_for @batch do |f|%>
  <%= f.label :slug, 'Name of the batch' %>
  <%= f.input :slug, label: false %>
  <%= f.submit "Let's setup!", class: 'button button-blue' %>

<% end %>
